.me {
    width: 120px;
  height: 120px;
  margin: 50px auto;
    position: relative;

    &:after {
        content: "";
        width: 5px;
        height: 2px;
        margin-left: 10px;
        position: absolute;
        z-index: 99;
    box-shadow: 18px 32px 0 $mouth, 
                    20px 32px 0 $mouth,
                    25px 32px 0 $mouth,
                    15px 45px 0 $skinshadow,
                    15px 47px 0 $skinshadow,
                    18px 45px 0 $skinshadow;
    }

    &:before {
        content: '';
        width: $pixel+px;
        height: $pixel+px;
        margin-left: 10px;
        position: absolute;
        z-index: 90;
        box-shadow: 3*$pixel+px       -1*$pixel+px $hair,
                    4*$pixel+px -1*$pixel+px $hair,
                    25px -5px 0 $hair,

                    $pixel+px 0 $hair,
                    2*$pixel+px 0 $hair,
                    3*$pixel+px 0 $hair,
                    4*$pixel+px 0 $hair,
                    5*$pixel+px 0 $hair,
                    6*$pixel+px 0 $hair,
                    7*$pixel+px 0 $hair,

                    0 $pixel+px $hair,
                    $pixel+px $pixel+px $hair,
                    2*$pixel+px $pixel+px $hair,
                    3*$pixel+px $pixel+px $hair,
                    4*$pixel+px $pixel+px $hair,
                    5*$pixel+px $pixel+px $hair,
                    6*$pixel+px $pixel+px $hair,
                    7*$pixel+px $pixel+px $hair,
                    8*$pixel+px $pixel+px $hair,
                    
                    -1*$pixel+px 2*$pixel+px $hair,
                    0 2*$pixel+px $hair,
                    $pixel+px 2*$pixel+px $hair,
                    2*$pixel+px 2*$pixel+px $hair,
                    3*$pixel+px 2*$pixel+px $hair,
                    4*$pixel+px 2*$pixel+px $hair,
                    5*$pixel+px 2*$pixel+px $hair,
                    6*$pixel+px 2*$pixel+px $hair,
                    7*$pixel+px 2*$pixel+px $hair,
                    8*$pixel+px 2*$pixel+px $hair,
                    9*$pixel+px 2*$pixel+px $hair,
                    
                    -1*$pixel+px 3*$pixel+px $hair,
                    0 3*$pixel+px $hair,
                    $pixel+px 3*$pixel+px $hair,
                    2*$pixel+px 3*$pixel+px $hair,
                    3*$pixel+px 3*$pixel+px $hair,
                    4*$pixel+px 3*$pixel+px $hair,
                    5*$pixel+px 3*$pixel+px $hair,
                    6*$pixel+px 3*$pixel+px $hair,
                    7*$pixel+px 3*$pixel+px $hair,
                    8*$pixel+px 3*$pixel+px $hair,
                    9*$pixel+px 3*$pixel+px $hair,
                    
                    -1*$pixel+px 4*$pixel+px $hair,
                    0 4*$pixel+px $skin,
                    $pixel+px 4*$pixel+px $skin,
                    2*$pixel+px 4*$pixel+px $eye,
                    3*$pixel+px 4*$pixel+px $skin,
                    4*$pixel+px 4*$pixel+px $skin,
                    5*$pixel+px 4*$pixel+px $skin,
                    6*$pixel+px 4*$pixel+px $eye,
                    7*$pixel+px 4*$pixel+px $skin,
                    8*$pixel+px 4*$pixel+px $skin,
                    9*$pixel+px 4*$pixel+px $hair,
                    
                    -1*$pixel+px 5*$pixel+px $hair,
                    0 5*$pixel+px $skin,
                    $pixel+px 5*$pixel+px $skin,
                    2*$pixel+px 5*$pixel+px $skin,
                    3*$pixel+px 5*$pixel+px $skin,
                    4*$pixel+px 5*$pixel+px $skin,
                    5*$pixel+px 5*$pixel+px $skin,
                    6*$pixel+px 5*$pixel+px $skin,
                    7*$pixel+px 5*$pixel+px $skin,
                    8*$pixel+px 5*$pixel+px $skin,
                    9*$pixel+px 5*$pixel+px $hair,

                    -1*$pixel+px 6*$pixel+px $hair,
                    0 6*$pixel+px $skin,
                    $pixel+px 6*$pixel+px $skin,
                    2*$pixel+px 6*$pixel+px $skin,
                    3*$pixel+px 6*$pixel+px $skin,
                    4*$pixel+px 6*$pixel+px $skin,
                    5*$pixel+px 6*$pixel+px $skin,
                    6*$pixel+px 6*$pixel+px $skin,
                    7*$pixel+px 6*$pixel+px $skin,
                    8*$pixel+px 6*$pixel+px $skin,
                    9*$pixel+px 6*$pixel+px $hair,

                    -1*$pixel+px 7*$pixel+px $hair,
                    0 7*$pixel+px $hair,
                    $pixel+px 7*$pixel+px $skin,
                    2*$pixel+px 7*$pixel+px $skin,
                    3*$pixel+px 7*$pixel+px $skin,
                    4*$pixel+px 7*$pixel+px $skin,
                    5*$pixel+px 7*$pixel+px $skin,
                    6*$pixel+px 7*$pixel+px $skin,
                    7*$pixel+px 7*$pixel+px $skin,
                    8*$pixel+px 7*$pixel+px $hair,
                    9*$pixel+px 7*$pixel+px $hair,

                    -2*$pixel+px 8*$pixel+px $skin,
                    -1*$pixel+px 8*$pixel+px $hair,
                    0 8*$pixel+px $hair,
                    $pixel+px 8*$pixel+px $hair,
                    2*$pixel+px 8*$pixel+px $skin,
                    3*$pixel+px 8*$pixel+px $skin,
                    4*$pixel+px 8*$pixel+px $skin,
                    5*$pixel+px 8*$pixel+px $skin,
                    6*$pixel+px 8*$pixel+px $skin,
                    7*$pixel+px 8*$pixel+px $hair,
                    8*$pixel+px 8*$pixel+px $hair,
                    9*$pixel+px 8*$pixel+px $hair,

                    -2*$pixel+px 9*$pixel+px $skin,
                    -1*$pixel+px 9*$pixel+px $hair,
                    0 9*$pixel+px $hair,
                    $pixel+px 9*$pixel+px $hair,
                    2*$pixel+px 9*$pixel+px $hair,
                    3*$pixel+px 9*$pixel+px $skin,
                    4*$pixel+px 9*$pixel+px $skin,
                    5*$pixel+px 9*$pixel+px $skin,
                    6*$pixel+px 9*$pixel+px $hair,
                    7*$pixel+px 9*$pixel+px $hair,
                    8*$pixel+px 9*$pixel+px $hair,
                    9*$pixel+px 9*$pixel+px $hair,

                    -2*$pixel+px 10*$pixel+px $skin,
                    -1*$pixel+px 10*$pixel+px $skin,
                    0 10*$pixel+px $shirt,
                    $pixel+px 10*$pixel+px $shirt,
                    2*$pixel+px 10*$pixel+px $shirt,
                    3*$pixel+px 10*$pixel+px $shirt,
                    4*$pixel+px 10*$pixel+px $shirt,
                    5*$pixel+px 10*$pixel+px $shirt,
                    6*$pixel+px 10*$pixel+px $shirt,
                    7*$pixel+px 10*$pixel+px $shirt,
                    8*$pixel+px 10*$pixel+px $shirt,
                    9*$pixel+px 10*$pixel+px $hair,

                    -1*$pixel+px 11*$pixel+px $hair,
                    0 11*$pixel+px $shirt,
                    $pixel+px 11*$pixel+px $shirt,
                    2*$pixel+px 11*$pixel+px $shirt,
                    3*$pixel+px 11*$pixel+px $shirt,
                    4*$pixel+px 11*$pixel+px $shirt,
                    5*$pixel+px 11*$pixel+px $shirt,
                    6*$pixel+px 11*$pixel+px $shirt,
                    7*$pixel+px 11*$pixel+px $shirt,
                    8*$pixel+px 11*$pixel+px $shirt,
                    9*$pixel+px 11*$pixel+px $hair,

                    -1*$pixel+px 12*$pixel+px $hair,
                    0 12*$pixel+px $hair,
                    $pixel+px 12*$pixel+px $shirt,
                    2*$pixel+px 12*$pixel+px $shirt,
                    3*$pixel+px 12*$pixel+px $shirt,
                    4*$pixel+px 12*$pixel+px $shirt,
                    5*$pixel+px 12*$pixel+px $shirt,
                    6*$pixel+px 12*$pixel+px $shirt,
                    7*$pixel+px 12*$pixel+px $shirt,
                    8*$pixel+px 12*$pixel+px $skin,
                    9*$pixel+px 12*$pixel+px $hair,

                    -1*$pixel+px 13*$pixel+px $hair,
                    0 13*$pixel+px $hair,
                    $pixel+px 13*$pixel+px $shirt,
                    2*$pixel+px 13*$pixel+px $shirt,
                    3*$pixel+px 13*$pixel+px $shirt,
                    4*$pixel+px 13*$pixel+px $shirt,
                    5*$pixel+px 13*$pixel+px $shirt,
                    6*$pixel+px 13*$pixel+px $shirt,
                    7*$pixel+px 13*$pixel+px $shirt,
                    8*$pixel+px 13*$pixel+px $skin,
                    9*$pixel+px 13*$pixel+px $hair,

                    -1*$pixel+px 14*$pixel+px $hair,
                    0 14*$pixel+px $hair,
                    $pixel+px 14*$pixel+px $shirt,
                    2*$pixel+px 14*$pixel+px $shirt,
                    3*$pixel+px 14*$pixel+px $shirt,
                    4*$pixel+px 14*$pixel+px $shirt,
                    5*$pixel+px 14*$pixel+px $shirt,
                    6*$pixel+px 14*$pixel+px $shirt,
                    7*$pixel+px 14*$pixel+px $shirt,
                    8*$pixel+px 14*$pixel+px $skin,
                    9*$pixel+px 14*$pixel+px $hair,

                    $pixel+px 15*$pixel+px $shirt,
                    2*$pixel+px 15*$pixel+px $shirt,
                    3*$pixel+px 15*$pixel+px $shirt,
                    4*$pixel+px 15*$pixel+px $shirt,
                    5*$pixel+px 15*$pixel+px $shirt,
                    6*$pixel+px 15*$pixel+px $shirt,
                    7*$pixel+px 15*$pixel+px $shirt,
                    8*$pixel+px 15*$pixel+px $skin,

                    $pixel+px 16*$pixel+px $pants,
                    2*$pixel+px 16*$pixel+px $pants,
                    3*$pixel+px 16*$pixel+px $pants,
                    4*$pixel+px 16*$pixel+px $pants,
                    5*$pixel+px 16*$pixel+px $pants,
                    6*$pixel+px 16*$pixel+px $pants,
                    7*$pixel+px 16*$pixel+px $pants,
                    8*$pixel+px 16*$pixel+px $skin,

                    $pixel+px 17*$pixel+px $pants,
                    2*$pixel+px 17*$pixel+px $pants,
                    3*$pixel+px 17*$pixel+px $pants,
                    4*$pixel+px 17*$pixel+px $pants,
                    5*$pixel+px 17*$pixel+px $pants,
                    6*$pixel+px 17*$pixel+px $pants,
                    7*$pixel+px 17*$pixel+px $pants,

                    $pixel+px 18*$pixel+px $pants,
                    2*$pixel+px 18*$pixel+px $pants,
                    3*$pixel+px 18*$pixel+px $pants,
                    5*$pixel+px 18*$pixel+px $pants,
                    6*$pixel+px 18*$pixel+px $pants,
                    7*$pixel+px 18*$pixel+px $pants,

                    $pixel+px 19*$pixel+px $pants,
                    2*$pixel+px 19*$pixel+px $pants,
                    3*$pixel+px 19*$pixel+px $pants,
                    5*$pixel+px 19*$pixel+px $pants,
                    6*$pixel+px 19*$pixel+px $pants,
                    7*$pixel+px 19*$pixel+px $pants,

                    $pixel+px 20*$pixel+px $pants,
                    2*$pixel+px 20*$pixel+px $pants,
                    3*$pixel+px 20*$pixel+px $pants,
                    5*$pixel+px 20*$pixel+px $pants,
                    6*$pixel+px 20*$pixel+px $pants,
                    7*$pixel+px 20*$pixel+px $pants,

                    $pixel+px 21*$pixel+px $pants,
                    2*$pixel+px 21*$pixel+px $pants,
                    3*$pixel+px 21*$pixel+px $pants,
                    5*$pixel+px 21*$pixel+px $pants,
                    6*$pixel+px 21*$pixel+px $pants,
                    7*$pixel+px 21*$pixel+px $pants,

                    $pixel+px 22*$pixel+px $shoes,
                    2*$pixel+px 22*$pixel+px $shoes,
                    3*$pixel+px 22*$pixel+px $shoes,
                    5*$pixel+px 22*$pixel+px $shoes,
                    6*$pixel+px 22*$pixel+px $shoes,
                    7*$pixel+px 22*$pixel+px $shoes;
    }
}